*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
    background: url('../bg.jpg') repeat center center/cover;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300vh;
    z-index: -1;
    opacity: 0.8;
}
/* css used for js purpose */
img{
    box-shadow: 10px 10px 8px #888888;
}
.hidden{
    display: none;
}
.Fail{
    color: red;
    text-align: center;
    font-size: 1.2rem;
}
h3,p{
    display: block;
    width: 70%;
    margin-bottom: 8px;
    color: white;
    font-family: monospace;
    font-weight: 100;
    font-size: 1.7rem;
}
/* p{
    font-weight: bold;
} */
/* for navbar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar h1{
    color: white;
    display: block;
    margin: 0px auto;
}
/*navbar logo */
#logo img{
    height: 45px;
    margin: 3px 25px; 
    filter: invert(100%);
    box-shadow: 0;
}
#logo{
    display: flex;
    align-items: center;
}

/* search bar */
.searchbar input{
    display: block;
    margin: 55px auto;
    margin-bottom: 20px;
    padding: 7px 31px;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 25px;
    width: 60%;
    font-family: AUTO;
    outline: none;
}
.searchbar button{
    display: block;
    margin: 10px auto;
    font-size: 2rem;
    padding: 2px 13px;
    border-radius: 7px;
    background-color: #3aca3a;
    color: white;
    font-family: AUTO;
    cursor: pointer;
}
/* main movie */
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
#main img{
    margin: 0px 200px;
    margin-right: 100px;
}
/* #content{
    flex-direction: column;
    justify-content: space-ev
} */
#main #content button{
    width: 15%;
}

#main h2{
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px white;
}

/* review section */
#review{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#review form h1 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px white;
}
#review_history{
    display: none;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
#review_history h1{
    font-size: 30px;
}
#review_history h2{
    color: white;
}
#review_history table{
    margin-top: 15px;
    background-color: #d8d8e6;
    border: 1px solid black;
}
#review_history th{
    font-size: 20px;
}
#review_history td{
    padding: 2px 20px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
#review textarea{
    margin: 5px 15px;
    font-size: 20px;
    display: block;
    margin: auto;
    width: 70%;
}
#review form button{
    display: block;
    margin: 10px auto;
    font-size: 1.3rem;
    padding: 2px 13px;
    border-radius: 7px;
    background-color: #3aca3a;
    color: white;
    font-family: AUTO;
    cursor: pointer;
}
#showReview{
    display: block;
    padding: 3px 14px;
    font-size: 1.1rem;
    margin: 5px auto;
    margin-bottom: 50px;
    color: white;
    background-color: #302652;
    font-family: auto;
    border-radius: 5px;
    cursor: pointer;
}
#hideReview{
    display: none;
    padding: 3px 14px;
    font-size: 1.1rem;
    margin: 5px auto;
    margin-bottom: 50px;
    color: white;
    background-color: #302652;
    font-family: auto;
    border-radius: 5px;
    cursor: pointer;
}
/* rec section */
#rec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rec_you{
    font-size: 2.5rem;
    text-align: center;
}
#after_rec_you{
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
#rec img{
    height: 250px;
}
.rec_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
#rec button{
    display: block;
    text-align: center;
    width: 250px;
    font-size: 2rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2rem;
    color:black;
}
#rec button:hover{
    color: white;
}



@media only screen and (max-width: 1100px){
    #main img{
        margin: 0px 80px;
        margin-top: 30px;
        margin-right: 60px;
        height: 350px;
    }
    #main h2{
        font-size: 1.6rem;
        margin-bottom: 15px;
        text-shadow: 2px 2px 3px white;
    }
    h3,p{
        display: block;
        width: 85%;
        margin-bottom: 7px;
        font-size: 1.5rem;
        color: white;
    }
    #review form h1 {
        text-align: center;
        font-size: 2rem;
    }
    #review_history table{
        margin-top: 18px;
    }
    #review_history th{
        font-size: 20px;
    }
    #review_history td{
        padding: 2px 17px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px){
    #navbar{
        flex-direction: column;
    }
    #navbar h1{
        margin-bottom: 10px;
        font-size: 23px;
    }
    #logo img{
        height: 35px;
        margin: 3px 25px; 
        /* filter: invert(100%);  */
    }
    .searchbar input{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 5px 20px;
        font-size: 1.4rem;
        border-radius: 18px;
    }
    .searchbar button{
        margin: 8px auto;
        font-size: 1.2rem;
        padding: 2px 8px;
        border-radius: 5px;
    }
    #main img{
        margin: 0px 50px;
        margin-top: 20px;
        margin-right: 35px;
        height: 250px;
    }
    #main h2{
        font-size: 1.4rem;
        margin-bottom: 12px;
        text-shadow: 2px 2px 3px white;
    }
    h3,p{
        display: block;
        width: 85%;
        margin-bottom: 7px;
        font-size: 1.25rem;
        font-family: monospace;
        font-weight: 100;
        color: white;
    }
    #review textarea{
        margin: 5px 10px;
        font-size: 10px;
        display: block;
        margin: auto;
        width: 70%;
        height: 80px;
    }
    #review form h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    #review_history table{
        margin-top: 15px;
    }
    #review_history th{
        font-size: 17px;
    }
    #review_history td{
        padding: 2px 15px;
        font-size: 15px;
    }
    #rec_you{
        font-size: 2.2rem;
        text-shadow: 2px 2px 3px white;
    }
    #after_rec_you{
        display: block;
    }
}
@media only screen and (max-width: 600px){
    #navbar{
        flex-direction: column;
    }
    #navbar h1{
        margin-bottom: 8px;
        font-size: 18px;
    }
    #logo img{
        height: 25px;
        margin: 3px 25px; 
        filter: invert(100%);
    }
    .searchbar input{
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 5px 15px;
        font-size: 1.35rem;
        border-radius: 14px;
        width: 80%;
    }
    .searchbar button{
        margin: 5px auto;
        font-size: 2rem;
        padding: 2px 7px;
        border-radius: 5px;
    }
    #main{
        display: block;
    }
    #main #content{
        margin-left: 20px;
    }
    #main img{
        display: block;
        margin:auto;
        height: 320px;
    }
    #main h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
        text-shadow: 2px 2px 3px white;
    }
    h3{
        display: block;
        width: 100%;
        margin-bottom: 7px;
        font-size: 1.7rem;
        color: white;
        font-family: monospace;
        font-weight: 100;
    }
    p{
        font-size: 1.5rem;
    }
    #review textarea{
        margin: 5px 8px;
        font-size: 15px;
        display: block;
        margin: auto;
        width: 60%;
        height: 60px;
    }
    #review form h1 {
        text-align: center;
        font-size: 2rem;
        text-shadow: 2px 2px 3px white;
    }
    #review_history table{
        margin-top: 10px;
    }
    #review_history th{
        font-size: 20px;
    }
    #review_history td{
        padding: 3px 2px;
        font-size: 17px;
        font-family: monospace;
    }
    #review form button{
        margin: 5px auto;
        font-size: 1.8rem;
        padding: 2px 7px;
        border-radius: 5px;
    }
    #showReview{
        margin: 5px auto;
        font-size: 1.7rem;
        padding: 2px 7px;
        border-radius: 5px;
    }
    #hideReview{
        margin: 5px auto;
        font-size: 1.7rem;
        padding: 2px 7px;
        border-radius: 5px;
    }
    #review_history h1{
        font-size: 18px;
    }
    #rec{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #rec_you{
        font-size: 2.2rem;
        text-shadow: 2px 2px 3px white;
    }
    #after_rec_you{
        display: block;
    }
    #rec img{
        height: 250px;
        width: 45%;
    }
    #rec button{
        display: block;
        margin: auto;
        font-size: 1.5rem;
    }
    .rec_post{
        display: block;
    }
    #rec button:hover{
        color: white;
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 370px){
    #navbar h1{
        margin-bottom: 8px;
        font-size: 14px;
    }
    .searchbar input{
        font-size: 1.2rem;
    }
}